<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    
    <!-- Footer -->
    <footer class="foot text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-white text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright:
          <a class="text-white" th:href="@{/home}">PUSAT ASPIRASI</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
</body>
</html>